{% extends 'alina/base.html' %}
{% block content %}
  <br>
  <div class="container" style="color: white; background-color: blueviolet; width: 500px;">
    <form class="form container" method="post" style="width: 500px;" autocomplete="off">
      {% csrf_token %}
      <label class="form-label danger">change password</label>
      <p class="label-default">none</p>
      {% for obj in query_obj %}
        {{ obj }}
        <p>{{ obj.errors.0 }}</p>
      {% endfor %}
      <button type="submit" class="btn btn-success">sub</button>
    </form>
  </div>
{% endblock %}