{% extends 'alina/base.html' %}
{% block content %}
  <div class="container">
    <a href="/alina/login/add/" class="btn btn-success">新增用户</a>

    <table class="table container">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">username</th>
          <th scope="col">operate</th>
        </tr>
      </thead>
      <tbody>
        {% if none_to_show %}
          {% for obj in query_obj %}
            <tr>
              <th scope="row">{{ obj.id }}</th>
              <td>{{ obj.username }}</td>
              <td>
                <a href="/alina/login/edit/{{ obj.id }}" class="btn btn-success">EDIT</a>
                <a href="/alina/login/delete/{{ obj.id }}/" class="btn btn-danger">DELETE</a>
              </td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <th>#</th>
          </tr>

        {% endif %}
      </tbody>
    </table>

  </div>
{% endblock %}